.button {
  display: block;
  padding: 20px 40px;
  border-radius: var(--border-radius);
  width: 300px;
  background: url('/arrow-right-circle.svg') no-repeat right 20px center, #fff;
}

.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--color-border);
  margin-top: 80px;
  padding-top: 40px;
}
