.body {
  background-color: #f9f9f9;
}

.main {
}

.header {
  position: absolute;
  padding: 16px 24px 8px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
  color: #fff;
  gap: 40px;
}

.logo {
  height: 24px;
  width: auto;
}

.footer {
  padding: 16px 24px;
  text-align: center;
  color: var(--color-text-sub);
  font-size: 0.8rem;
}

@media (max-width: 640px) {
}
